<% if @create_project.errors.any? %>
  var errors = $('<ul />');
  
  <% @create_project.errors.full_messages.each do |error| %>
    var error_fields = "<%= j error %>".split(' ');
    var first_word   = error_fields[0];

    $('#project_' + first_word.toLowerCase() + '_label').addClass('alert-error no-background');
    
    errors.append('<li><%= j error %></li>');
  <% end %>

  $('#new_project_errors').html(errors).show();

<% else %>
  <% flash.each do |key,value| %>
    $('#messages_div').removeClass('hide').append('<%= j render partial: '/shared/message_item', :locals => { key: key, value: value } %>');
  <% end %>
  
  $('#projects_list').append('<%= j render partial: '/shared/project_item', collection: [@create_project] %>');
<% end %>
